[submodule "lporigami/static/js/ThreeJSBoilerplate"]
	path = lporigami/static/js/ThreeJSBoilerplate
	url = https://github.com/jeromeetienne/threejsboilerplate.git
[submodule "lporigami/static/js/FileSaver"]
	path = lporigami/static/js/FileSaver
	url = https://github.com/eligrey/FileSaver.js.git
[submodule "lporigami/static/js/Verb"]
	path = lporigami/static/js/Verb
	url = https://github.com/pboyer/verb.git
[submodule "lporigami/static/js/Physijs"]
	path = lporigami/static/js/Physijs
	url = https://github.com/chandlerprall/Physijs.git
