<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">



  <script src="{% static 'js/verb-master/build/js/verb.js' %}"></script>
  <script src="{% static 'js/three.js-master/build/three.min.js' %}"></script>
  <script src="{% static 'js/verb-master/examples/js/verbToThreeConversion.js' %}"></script>
  <script src="{% static 'js/verb-master/examples/js/codemirror.js' %}"></script>
  <script src="{% static 'js/verb-master/examples/js/javascript.js' %}"></script>
  <script src="{% static 'js/verb-master/examples/js/threeBasic.js' %}"></script>
  <script src="{% static 'js/OrbitControls.js' %}"></script>
  <script src="{% static 'js/three.js-master/examples/js/libs/dat.gui.min.js' %}"></script>
  <script src="{% static 'js/three.js-master/examples/js/loaders/OBJLoader.js' %}"></script>
  <script src="{% static 'js/three.js-master/examples/js/exporters/OBJExporter.js' %}"></script>
  <script src="{% static 'js/FileSaver.js-master/FileSaver.js' %}"></script>


  <script src="{% static 'js/modelSetup.js' %}"></script>
  <script type="text/javascript">
    setupModelFileNames("{% static 'files/humans.obj' %}",
                        "{% static 'files/city.obj' %}",
                        "{% static 'files/shades.obj' %}",
                        "{% static 'files/trees.obj' %}",
                        "{% static 'files/opera-house2.obj' %}");
  </script>
</head>










<body>



  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper black">
        <div class="container">
          <a href="http://www.leraplus.com" class="brand-logo">
            <span id="LERA-text">LERA</span>
            <span id="PLUS-text">PLUS</span>
          </a>
          <a href="#!" id="origami-text" class="brand-logo center">ORIGAMI</a>
          
          <ul class="right hide-on-med-and-down">
            <li><a href="#" class="waves-effect waves-light btn-flat grey-text">CREDITS</a></li>
            <li><a href="#" onclick="javascript:downloadModel()" class="waves-effect waves-light btn-flat grey-text">Download</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>















  <div id="viewer" class="col s12 m12 l12">
    <div id="datGUI"></div>
  </div>



  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="{% static 'js/pavilion.js' %}"></script>


  </body>
</html>
